/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
  /* colors */
  --clr-lightBlue: 178 60% 48%;
  --clr-lightBlueHover: 178 75% 65%;
  --clr-orange: 39 88% 58%;
  --clr-orangeHover: 39 100% 69%;
  --clr-darkNavy: 202 32% 15%;
  --clr-navy: 199 35% 19%;
  --clr-silver: 198 23% 72%;
  --clr-silverHover: 197 33% 89%;

  /* font-sizes */
  --fs-900: 1.5rem;
  --fs-800: 1.25rem;
  --fs-700: 1rem;
  --fs-600: 1rem;
  --fs-500: 0.875rem;
}

/* ------------------- */
/* Reset               */
/* ------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: 400;
}

body {
  font-family: "Outfit", sans-serif;
  color: hsl(var(--clr-silver));
  background-color: hsl(var(--clr-darkNavy));
  min-height: 100vh;

  display: grid;
  grid-template-rows: min-content 1fr;

  overflow-x: hidden;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.grid {
  display: grid;
  gap: var(--gap, 1rem);
}

.flow > *:where(:not(:first-child)) {
  margin-top: var(--flow-space, 1rem);
}

.d-block {
  display: block;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* colors */

.bg-navy {
  background-color: hsl(var(--clr-navy));
}
.bg-orange {
  background-color: hsl(var(--clr-orange));
}
.bg-blue {
  background-color: hsl(var(--clr-lightBlue));
}
.bg-silver {
  background-color: hsl(var(--clr-silver));
}

.text-silver {
  color: hsl(var(--clr-silver));
}
.text-orange {
  color: hsl(var(--clr-orange));
}
.text-blue {
  color: hsl(var(--clr-lightBlue));
}

/* typography */

.uppercase {
  text-transform: uppercase;
}

.fs-900 {
  font-size: var(--fs-900);
  letter-spacing: 1.5px;
  line-height: 30.24px;
}

.fs-800 {
  font-size: var(--fs-800);
  letter-spacing: 1.25px;
  line-height: 25.2px;
}

.fs-700 {
  font-size: var(--fs-700);
  letter-spacing: 1px;
  line-height: 20px;
}

.fs-600 {
  font-size: var(--fs-600);
  letter-spacing: 1px;
  line-height: 20.16px;
}

.fs-500 {
  font-size: var(--fs-500);
  letter-spacing: 0.8px;
  line-height: 17.64px;
}

.attribution {
  font-size: 11px;
  text-align: center;
  align-self: end;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*     Game menu     */

.game-list {
  text-align: center;
}

.game-list img {
  margin-inline: auto;
  margin-bottom: 2rem;
  margin-top: 7.5rem;
}

.select-icon {
  background-color: hsl(var(--clr-navy));
  margin-inline: auto;
  margin-bottom: 2rem;
  padding-inline: 1.5rem;
  border-radius: 15px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 0;
  max-width: 327px;
  box-shadow: inset 0px -8px 0px #10212a;
}

.select-icon h1 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.xo-icon-container {
  width: 279px;
  height: 72px;
  background-color: hsl(var(--clr-darkNavy));
  border-radius: 10px;
  gap: 132px;
  margin-bottom: 1rem;
}

.labels {
  display: block;
  position: relative;
  cursor: pointer;
}

.labels input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 8px;
  left: 8px;
  height: 54px;
  width: 132px;
  border-radius: 10px;
  background-color: hsl(var(--clr-darkNavy));
}

.labels:hover input ~ .checkmark {
  background-color: hsla(var(--clr-silver) / 0.05);
}

.labels input:checked ~ .checkmark {
  background-color: hsl(var(--clr-silver));
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.labels input:checked ~ .checkmark:after {
  display: block;
}

.labels .checkmark:after {
  width: 0;
  height: 0;
}

.Xsvg,
.Osvg {
  transform: scale(0.5);
  position: relative;
  bottom: 5px;
}

.labels input:checked ~ .checkmark path {
  fill: hsl(var(--clr-darkNavy));
}

.game-list p {
  margin-bottom: 2rem;
  opacity: 0.5;
}

.cpuBtn,
.playerBtn {
  margin-inline: auto;
  width: 327px;
  height: 56px;
  border-radius: 15px;
  border: none;
  text-align: center;
  font-weight: 700;
  padding-bottom: 10px;
  color: hsl(var(--clr-darkNavy));
}

.cpuBtn:active,
.playerBtn:active {
  transform: translateY(2px);
}

.cpuBtn {
  margin-bottom: 1rem;
  background: hsl(var(--clr-orange));
  box-shadow: inset 0px -8px 0px #cc8b13;
}

.cpuBtn:hover {
  background-color: hsl(var(--clr-orangeHover));
}

.playerBtn {
  background: hsl(var(--clr-lightBlue));
  box-shadow: inset 0px -8px 0px #118c87;
}

.playerBtn:hover {
  background: hsl(var(--clr-lightBlueHover));
}

/*     Game board    */

.game-display {
  display: none;
  z-index: -1;
}

.game-display-title {
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
  width: 20.5rem;
  margin-inline: auto;
  gap: 0;
}

.turn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  background: hsl(var(--clr-navy));
  box-shadow: inset 0px -4px 0px #10212a;
  border-radius: 5px;
  width: 6rem;
  height: 2.5rem;
  margin-right: 4.625rem;
  margin-left: 2rem;
}

.turn p,
.turn img {
  position: relative;
  bottom: 2px;
}

.Xturn {
  height: 1rem;
  width: 1rem;
}

.restart {
  width: 2.5rem;
  height: 2.5rem;
  background: #a8bfc9;
  box-shadow: inset 0px -4px 0px #6b8997;
  border-radius: 5px;
  border: none;
  padding-inline: 12.31px;
}

.restart:active {
  transform: translateY(2px);
}

.boxes {
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 20.5rem;
  margin-inline: auto;
  margin-bottom: 1.25rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1f3641;
  box-shadow: inset 0px -8px 0px #10212a;
  border-radius: 10px;
  width: 6rem;
  height: 6rem;
}

.hoverBoxX:hover {
  cursor: pointer;
  background-image: url(./assets/icon-x-outline.svg);
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.hoverBoxO:hover {
  cursor: pointer;
  background-image: url(./assets/icon-o-outline.svg);
  background-repeat: no-repeat;
  background-position: 15px 13px;
}

.scores {
  width: 20.5rem;
  margin-inline: auto;
  display: grid;
  gap: 1.25rem;
  grid-template-columns: 1fr 1fr 1fr;
  color: hsl(var(--clr-darkNavy));
}

.box-score {
  width: 6rem;
  height: 4rem;
  border-radius: 10px;
  text-align: center;
  padding-top: 0.8125rem;
}

.your-score {
  background: hsl(var(--clr-lightBlue));
}

.ties {
  background: hsl(var(--clr-silver));
}

.cpu-score {
  background: hsl(var(--clr-orange));
}

/*    Modal   */

.modal {
  display: none;
  position: absolute;
  top: 13.75rem;
  width: 100vw;
  height: 14.25rem;
  background-color: hsl(var(--clr-navy));
  text-align: center;
  padding-top: 2.5rem;
  z-index: 1000;
}

.cpuThink {
  display: none;
  margin-top: 1rem;
  text-align: center;
  font-size: 2rem;
}

.end-game {
  display: none;
  flex-direction: column;
  align-items: center;
}

.end-game p {
  margin-bottom: 1rem;
}

.end-game img {
  width: 30px;
  height: 30px;
}

.end-game h2 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: hsl(var(--clr-orange));
  margin-bottom: 1.5rem;
}

.end-game button {
  border: none;
  border-radius: 10px;
  font-weight: 700;
}

.end-game button:active {
  transform: translateY(2px);
}

.quit-btn {
  width: 4.75rem;
  height: 3.25rem;
  background-color: hsl(var(--clr-silver));
  box-shadow: inset 0px -4px 0px #6b8997;
  margin-right: 1rem;
}

.quit-btn:hover {
  background-color: hsl(var(--clr-silverHover));
}

.next-btn {
  width: 9.125rem;
  height: 3.25rem;
  background-color: hsl(var(--clr-orange));
  box-shadow: inset 0px -4px 0px #cc8b13;
}

.next-btn:hover {
  background-color: hsl(var(--clr-orangeHover));
}

.restartGame {
  display: none;
  flex-direction: column;
  align-items: center;
  padding-top: 1.3125rem;
}

.restartGame p {
  margin-bottom: 1.5rem;
}

.restartGame button {
  height: 3.25rem;
  border: none;
  border-radius: 10px;
  font-weight: 700;
}

.restartGame button:active {
  transform: translateY(2px);
}

.cancel-btn {
  width: 8.6875rem;
  margin-right: 1rem;
  background-color: hsl(var(--clr-silver));
  box-shadow: inset 0px -4px 0px #6b8997;
}

.cancel-btn:hover {
  background-color: hsl(var(--clr-silverHover));
}

.restart-btn {
  width: 9.4375rem;
  background-color: hsl(var(--clr-orange));
  box-shadow: inset 0px -4px 0px #cc8b13;
}

.restart-btn:hover {
  background-color: hsl(var(--clr-orangeHover));
}
